<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<!--마이 바티스 설정과 관련된 세팅들을 선언할 수 있는 부분  -->
<!-- configuration 태그 안에 들어가는 엘리먼트들의 순서가 있으므로 주의할 것 -->
<configuration>
<!--

The content of element type "configuration" must match 
 "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,
 objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)".
  -->
  	<properties resource="/driver.properties"/>
  	
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/> <!-- jdbcTypeForNull : NULL이 발생했을때 넣어줄 값을 정해준다  -->
  	
  	</settings>
  	
  	<typeAliases>
  		<typeAlias type="member.model.vo.Member" alias="Member"/>
  	
  	</typeAliases>
  	
	<environments default="development"><!--DB연결할 설정 정보 선언 -->
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<!-- 
				transactionManager의 type에 들어가는 속성 2 가지
					JDBC : 커밋과 롤백을 직접 처리하기 위해 사용
					MANAGED : 컨테이너가 트랜잭션의 모든 생명 주기 관리
					
			
			 -->
			 
			 <dataSource type="POOLED">
			 <!-- 
			 	<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			 	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
			 	<property name="username" value="MyBatis"/>
			 	<property name="password" value="MyBatis"/>
			 
			  -->
			 	<property name="driver" value="${driver}"/>
			 	<property name="url" value="${url}"/>
			 	<property name="username" value="${username}"/>
			 	<property name="password" value="${password}"/>
			 </dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
	</mappers>
</configuration>
